<div>
  <form (ngSubmit)="soumissionFormulaire(nouveauMessage.value);nouveauMessage.reset()" #nouveauMessage="ngForm">
    <label for="inp_pseudo">Pseudo:<br /></label>
  <input id="inp_pseudo" name="pseudo" ngModel /><br />
  <label for="inp_nouveau_message">Nouveau message:<br /></label>
    <textarea name="message" id="inp_nouveau_message" name="message" ngModel></textarea><br />
  <input type="submit" id="envoi" text="Envoyer" /> <button id="annuler" (click)="nouveauMessage.reset()">annuler</button>
  </form>
</div>
