<div *ngIf="messages.length !== 0">
<div *ngFor="let message of messages">
  <app-message [unMessage]="message"></app-message>
</div>
</div>
<div *ngIf="messages.length == 0">
  <p style="text-align:center;">Aucun messages</p>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
</div>
