<div id="menu-util">
  <h3>
    Personnes Active :
  </h3>
  <div *ngIf="utils.length != 0">
    <ul>
      <li *ngFor="let u of utils">
        <a href="#">{{u.pseudo}}</a>
      </li>
    </ul>
  </div>
  <div *ngIf="utils.length == 0">
    <p>Aucun utilisateurs connecté</p>
  </div>
</div>
