#app-root {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas: "entete entete"
                        "menu-util liste-messages"
                        "menu-util nouveau-message";
  grid-template-rows: 20% 60% 30%;
  border: black 1px solid;
  max-width: 1000px;
  margin: 0 auto;
}
app-entete {
  grid-area: entete;
  border: black 1px solid;
  margin-inside: 10px;
}
app-menu-util {
  grid-area: menu-util;
  border: black 1px solid;
  margin-inside: 10px;
}
app-liste-messages {
  grid-area: liste-messages;
  border: black 1px solid;
  margin-inside: 10px;
}
app-nouveau-message {
  grid-area: nouveau-message;
  border: black 1px solid;
  margin-inside: 10px;
}
