<div *ngIf="unMessage !== undefined">
  <p>
    {{unMessage.util.pseudo}}  à écrit le {{unMessage.dateMessage.toLocaleString()}} :
  </p>
  <div id="message">
    <p>{{unMessage.message}}</p>
  </div>
  <br />
</div>
